@import "http://fonts.fontstorage.com/import/raleway.css";
@import "https://fonts.googleapis.com/css?family=Montserrat|Roboto";

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1920px;
}

.hd {
    height: 1024px;
    background-image: url(img/photo.jpg);
}

.logo {
    margin-left: 376px;
    padding-top: 40px;
    float: left;
}

.brand {
    text-decoration: none;
    font-family: Raleway;
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    float: left;
}

.br {
    padding-top: 55px;
}

.nav ul li {
    display: inline;
    list-style-type: none;
}

.nav ul {
    float: right;
    padding-right: 374px;
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    padding: 0 14px;
}

.hd_text {
    width: 589px;
    margin-left: 666px;
    margin-top: 319px;
}

.hd_text h2 {
    margin: 0;
    font-family: Raleway;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.hd_text h1 {
    margin: 0;
    font-family: Raleway;
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.hd_text h3 {
    margin: 0;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.button {
    text-decoration: none;
    display: block;
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 21px;
    margin-top: 52px;
    margin-left: 210px;
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
}

.button:hover {
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
}

.block2 {
    height: 373px;
}

.block3 {
    height: 700px;
    background-color: #fbfaf8;
}

.text_bl3 {
    width: 757px;
    margin-left: 583px;
}

.text_bl3 h3 {
    font-family: Raleway;
    margin: 0;
    color: #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 24px;
}

.text_bl3 p {
    font-family: Montserrat;
    margin: 0;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.img1_bl3 {
    position: absolute;
    margin-left: 576px;
    float: left;
    z-index: 100;
    margin-top: 20px;
}

.img2_bl3 {
    position: absolute;
    float: left;
    z-index: 50;
    margin-left: 346px;
    margin-top: 102px;
}

.img3_bl3 {
    position: absolute;
    float: right;
    z-index: 50;
    margin-left: 806px;
    margin-top: 102px;
}

.block4 {
    height: 150px;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.text_bl4 {
    width: 530px;
    padding-left: 376px;
    padding-top: 48px;
    float: left;
}

.text_bl4 a {
    margin: 0;
    font-family: Raleway;
    color: #c7b299;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;

}

.text_bl4 a:hover {
    font-family: Raleway;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
}

.text_bl4 h4 {
    margin: 0;
    padding-top: 8px;
    font-family: Montserrat;
    color: #615855;
    font-size: 18px;
    font-weight: 300;
}

.button_bl4 {
    text-decoration: none;
    display: block;
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 21px;
    float: right;
    margin-top: 50px;
    margin-right: 374px;
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
}

.button_bl4:hover {
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
}

.block5 {
    height: 1162px;
}

.text_bl5 {
    width: 757px;
    margin-left: 583px;
}

.text_bl5 h3 {
    margin: 0;
    padding-left: 240px;
    padding-top: 81px;
    font-family: Raleway;
    color: #555555;
    font-size: 30px;
    font-weight: 600;
}

.text_bl5 p {
    margin: 0;
    padding-top: 24px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 28px;
}

.button5 {
    margin-left: 658px;
}

.button5 a {
    margin-left: 10px;
    margin-top: 40px;
    float: left;
}

.button_bl5 {
    text-decoration: none;
    display: block;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background-color: rgba(17, 17, 17, 0);
    width: 70px;
    height: 32px;
    text-align: center;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 5px 18px;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
}

.button_bl5:hover {
    background-color: #998675;
    color: #ffffff;
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
}

.button1_bl5 {
    text-decoration: none;
    display: block;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background-color: rgba(17, 17, 17, 0);
    width: 120px;
    height: 32px;
    text-align: center;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 5px 10px;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);

}

.button1_bl5:hover {
    background-color: #998675;
    color: #ffffff;
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
}

.bl5_1 {
    height: 337px;
    width: 370px;
    float: left;
    margin-left: 376px;
    margin-top: 40px;
    background-color: #fbfaf8;
}

.bl5_1-hover {
    position: absolute;
    height: 237px;
    width: 370px;
    background: #191919;
    opacity: 0;
}

.bl5_1-hover ul {
    list-style: none;
    margin-top: 106px;
    margin-left: 70px;
}

.bl5_1-hover ul li {
    float: left;
    padding-left: 28px;
}

.bl5_1-hover ul li a:hover {
    transform: scale(1.2)
}

.bl5_1-hover:hover {
    opacity: 0.7;
}

.bl5_1:hover {
    background-color: #362f2d;
}

.bl5_1 h4 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 28px;
    font-family: Raleway;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.bl5_1 p {
    margin: 0;
    padding-left: 28px;
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.bl5_2 {
    height: 337px;
    width: 370px;
    float: left;
    background-color: #fbfaf8;
    margin-top: 40px;
    margin-left: 30px;
}

.bl5_2:hover {
    background-color: #362f2d;
}

.bl5_2 h4 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 28px;
    font-family: Raleway;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.bl5_2 p {
    margin: 0;
    padding-left: 28px;
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.bl5_3 {
    height: 337px;
    width: 370px;
    float: left;
    background-color: #fbfaf8;
    margin-top: 40px;
    margin-left: 30px;
}

.bl5_3:hover {
    background-color: #362f2d;
}

.bl5_3 h4 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 28px;
    font-family: Raleway;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.bl5_3 p {
    margin: 0;
    padding-left: 28px;
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.bl5_4 {
    height: 337px;
    width: 370px;
    float: left;
    background-color: #fbfaf8;
    margin-left: 376px;
    margin-top: 30px;
}

.bl5_4:hover {
    background-color: #362f2d;
}

.bl5_4 h4 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 28px;
    font-family: Raleway;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.bl5_4 p {
    margin: 0;
    padding-left: 28px;
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.bl5_5 {
    height: 337px;
    width: 370px;
    float: left;
    background-color: #fbfaf8;
    margin-top: 30px;
    margin-left: 30px;
}

.bl5_5:hover {
    background-color: #362f2d;
}

.bl5_5 h4 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 28px;
    font-family: Raleway;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.bl5_5 p {
    margin: 0;
    padding-left: 28px;
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.bl5_6 {
    height: 337px;
    width: 370px;
    float: left;
    background-color: #fbfaf8;
    margin-top: 30px;
    margin-left: 30px;
}

.bl5_6:hover {
    background-color: #362f2d;
}

.bl5_6 h4 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 28px;
    font-family: Raleway;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.bl5_6 p {
    margin: 0;
    padding-left: 28px;
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}


.block6 {
    height: 705px;
    background: url(img/photo1.jpg);
}

.video img {
    padding-left: 911px;
    padding-top: 210px;
}

.text_bl6 {
    width: 570px;
    margin-left: 685px;
}

.text_bl6 h3 {
    margin: 0;
    padding-top: 30px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.text_bl6 p {
    margin: 0;
    padding-top: 25px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.text_bl6 h4 {
    margin: 0;
    padding-top: 35px;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.but_b5 {
    float: right;
    width: 170px;
    height: 50px;
    margin-right: 874px;
    margin-top: 40px;
}

.button_b5 {
    text-decoration: none;
    display: block;
    border-radius: 3px;
    background-color: #998675;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 21px;
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);

}

.button_b5:hover {
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
}

.block7 {
    height: 695px;
    background-color: #fbfaf8;
}

.img_bl7 {
    float: left;
    margin-top: 79px;
    margin-left: 423px;
}

.text_bl7 {
    margin: 0;
    width: 690px;
    padding-left: 875px;
    padding-top: 145px;
}

.text_bl7 h2 {
    margin: 0;
    font-family: Raleway;
    color: #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 40px;

}

.text_bl7 p {
    margin: 0;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}

.text_bl7 ul li {
    padding-left: 29px;
    list-style-image: url(img/01.png);
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    padding-top: 5px;
}

.text_bl7 ul {
    padding-left: 79px;
}

.block8 {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    height: 300px;
}

.block8 h4 {
    margin: 0;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
    text-align: center;
    padding-top: 30px;
}

.block8 p {
    margin: 0;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    padding-top: 21px;
}

.block8 img {
    padding-left: 44px;
}

.blbl {
    padding-top: 5px;
    height: 170px;
    width: 1300px;
    padding-left: 496px;
}

.bl8_1 {
    margin-top: 69px;
    margin-right: 73px;
    width: 140px;
    float: left;
}

.bl8_2 {
    margin-top: 69px;
    margin-right: 73px;
    width: 140px;
    float: left;
}

.bl8_3 {
    margin-top: 69px;
    margin-right: 73px;
    width: 140px;
    float: left;
}

.bl8_4 {
    margin-top: 69px;
    margin-right: 73px;
    width: 140px;
    float: left;
}

.bl8_5 {
    margin-top: 69px;
    margin-right: 73px;
    width: 140px;
    float: left;
}

.lin {
    margin-left: 9px;
    padding-top: 20px;
}

.block9 {
    height: 650px;
}

.text_bl9 {
    width: 757px;
    margin-left: 583px;
    margin-top: 82px;
}

.text_bl9 h2 {
    margin: 0;
    font-family: Raleway;
    color: #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

.text_bl9 p {
    margin: 0;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;

}

.bl9_1 {
    width: 370px;
    height: 395px;
    float: left;
    margin-left: 376px;
    margin-top: 40px;
}

.bl9_1:hover {
    background-color: #362f2d;
}

.bl9_1-hover {
    position: absolute;
    width: 370px;
    height: 220px;
    background: #191919;
    opacity: 0;
}

.bl9_1-hover:hover {
    opacity: 0.7;
    z-index: 50
}

.block9 h4 {
    margin: 0;
    font-family: Raleway;
    color: #c7b299;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding-left: 29px;
    padding-top: 30px;
}

.bl9_1 p {
    margin: 0;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding-left: 29px;
    padding-top: 19px;
    padding-bottom: 27px;
}

.bl9_1 a {
    margin: 0;
    text-decoration: none;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding-left: 29px;

}

.date1 {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #363636;
    width: 50px;
    height: 35px;
    z-index: 65
}

.date1 p {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    padding: 7px;
}

.date1:hover {
    background-color: #c7b299;
}

.date2 {
    position: absolute;
    margin-top: 55px;
    margin-left: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #252525;
    width: 50px;
    height: 25px;
    z-index: 65
}

.date2 p {
    font-family: Roboto;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 3px;
}

.date2:hover {
    background-color: #a48d72;
}

.bl9_2 {
    width: 370px;
    height: 395px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}

.bl9_2:hover {
    background-color: #362f2d;
}

.bl9_2 p {
    margin: 0;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding-left: 29px;
    padding-top: 19px;
    padding-bottom: 27px;
}

.bl9_2 a {
    margin: 0;
    text-decoration: none;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding-left: 29px;

}

.date1_2 {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #363636;
    width: 50px;
    height: 35px;
    z-index: 65
}

.date1_2 p {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    padding: 7px;
}

.date1_2:hover {
    background-color: #c7b299;
}

.date2_2 {
    position: absolute;
    margin-top: 55px;
    margin-left: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #252525;
    width: 50px;
    height: 25px;
    z-index: 65
}

.date2_2 p {
    font-family: Roboto;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 3px;
}

.date2_2:hover {
    background-color: #a48d72;
}

.bl9_3 {
    width: 370px;
    height: 395px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}

.bl9_3:hover {
    background-color: #362f2d;
}

.bl9_3 p {
    margin: 0;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding-left: 29px;
    padding-top: 19px;
    padding-bottom: 27px;
}

.bl9_3 a {
    margin: 0;
    text-decoration: none;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding-left: 29px;

}

.date1_3 {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #363636;
    width: 50px;
    height: 35px;
    z-index: 65
}

.date1_3 p {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    padding: 7px;
}

.date1_3:hover {
    background-color: #c7b299;
}

.date2_3 {
    position: absolute;
    margin-top: 55px;
    margin-left: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #252525;
    width: 50px;
    height: 25px;
    z-index: 65
}

.date2_3 p {
    font-family: Roboto;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 3px;
}

.date2_3:hover {
    background-color: #a48d72;
}

.block10 {
    height: 489px;
    background-image: url(img/photo13.jpg)
}

.log {
    float: left;
    margin-left: 90px;
    margin-top: 150px;
}

.logall {
    margin-left: 320px;
}

.block11 {
    height: 508px;
    background-color: #191919;
}

.footer {
    background-color: #111111;
    height: 110px;
}

.copyright {
    float: left;
}

.copyright ul {
    margin: 0;
    font-family: Montserrat;
    color: #959595;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    margin-left: 376px;
    padding-top: 45px;
}

.copyright ul li {
    display: block;
    float: left;
    list-style: none;
    margin-left: 20px;
}

.copyright ul li a {
    text-decoration: none;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.copyright2 ul {
    margin: 0;
    font-family: Montserrat;
    color: #959595;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    margin-right: 374px;
    padding-top: 45px;
}

.copyright2 ul li {
    display: block;
    float: right;
    list-style: none;
    margin-right: 20px;
}

.copyright2 ul li a {
    text-decoration: none;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.copyright2 p {
    margin: 0;
}

.copyright p {
    margin: 0;
}
