@import "http://fonts.fontstorage.com/import/raleway.css";
@import "https://fonts.googleapis.com/css?family=Montserrat|Roboto";

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1920px;
}

.hd {
    height: 1024px;
    background-image: url(img/photo.jpg);
}

.logo {
    margin-left: 376px;
    padding-top: 40px;
    float: left;
}

.brand {
    text-decoration: none;
    font-family: Raleway;
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    float: left;
}

.br {
    padding-top: 55px;
}

.nav ul li {
    display: inline;
    list-style-type: none;
}

.nav ul {
    float: right;
    padding-right: 374px;
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    padding: 0 14px;
}

.hd_text {
    width: 589px;
    margin-left: 666px;
    margin-top: 319px;
}

.hd_text h2 {
    margin: 0;
    font-family: Raleway;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.hd_text h1 {
    margin: 0;
    font-family: Raleway;
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.hd_text h3 {
    margin: 0;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.button {
    text-decoration: none;
    display: block;
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 21px;
    margin-top: 52px;
    margin-left: 210px;
}

.block2 {
    height: 373px;
}

.block3 {
    height: 700px;
    background-color: #fbfaf8;
}

.text_bl3 {
    width: 757px;
    margin-left: 583px;
}

.text_bl3 h3 {
    font-family: Raleway;
    margin: 0;
    color: #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 24px;
}

.text_bl3 p {
    font-family: Montserrat;
    margin: 0;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.img1_bl3 {
    position: absolute;
    margin-left: 576px;
    float: left;
    z-index: 100;
    margin-top: 20px;
}

.img2_bl3 {
    position: absolute;
    float: left;
    z-index: 50;
    margin-left: 346px;
    margin-top: 102px;
}

.img3_bl3 {
    position: absolute;
    float: right;
    z-index: 50;
    margin-left: 806px;
    margin-top: 102px;
}

.block4 {
    height: 150px;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.text_bl4 {
    width: 530px;
    padding-left: 376px;
    padding-top: 48px;
    float: left;
}

.text_bl4 a {
    margin: 0;
    font-family: Raleway;
    color: #c7b299;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;

}

.text_bl4 a:hover {
    font-family: Raleway;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
}

.text_bl4 p {
    margin: 0;
    padding-top: 8px;
    font-family: Montserrat;
    color: #615855;
    font-size: 18px;
    font-weight: 300;
}

.button_bl4 {
    text-decoration: none;
    display: block;
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 21px;
    float: right;
    margin-top: 50px;
    margin-right: 374px;
}

.block5 {
    height: 1162px;
}

.text_bl5 {
    width: 757px;
    margin-left: 583px;
}

.text_bl5 h3 {
    margin: 0;
    padding-left: 240px;
    padding-top: 81px;
    font-family: Raleway;
    color: #555555;
    font-size: 30px;
    font-weight: 600;
}

.text_bl5 p {
    margin: 0;
    padding-top: 24px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 28px;
}

.button5 {
    margin-left: 658px;
}

.button5 a {
    margin-left: 10px;
    margin-top: 40px;
    float: left;
}

.button_bl5 {
    text-decoration: none;
    display: block;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background-color: rgba(17, 17, 17, 0);
    width: 70px;
    height: 32px;
    text-align: center;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 5px 18px;
}

.button_bl5:hover {
    background-color: #998675;
    color: #ffffff;
}

.button1_bl5 {
    text-decoration: none;
    display: block;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background-color: rgba(17, 17, 17, 0);
    width: 120px;
    height: 32px;
    text-align: center;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 5px 10px;
}

.button1_bl5:hover {
    background-color: #998675;
    color: #ffffff;
}

.block6 {
    height: 705px;
    background: url(img/photo1.jpg);
}
.video img{
    padding-left: 911px;
    padding-top: 210px;
}
.text_bl6{
    width: 570px;
    margin-left: 685px;
}
.text_bl6 h3{
    margin: 0;
    padding-top: 30px;
    font-family: Raleway;
color:  #ffffff;
font-size: 30px;
font-weight: 500;
text-align: center;
}
.text_bl6 p{
    margin: 0;
    padding-top: 25px;
    font-family: Montserrat;
color:  #ffffff;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: center;
}
.text_bl6 h4{
   margin: 0;
    padding-top: 35px;
    font-family: Montserrat;
color:  #c7b299;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: center;
}
.block7{
    height: 695px;
    background-color: #fbfaf8;
}
.img_bl7{
    float: left;
    margin-top: 79px;
    margin-left: 423px;
}
.text_bl7{
    margin: 0;
    width: 690px;
    padding-left: 875px;
    padding-top: 145px;
}
.text_bl7 h2{
    margin: 0;
    font-family: Raleway;
color:  #555555;
font-size: 30px;
font-weight: 600;
text-align: left;
    padding-bottom: 40px;
    
}
.text_bl7 p{
    margin: 0;
    font-family: Montserrat;
color:  #8c8c8c;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;
}
.text_bl7 ul li{
    padding-left: 29px;
    list-style-image: url(img/01.png);
    font-family: Montserrat;
color:  #8c8c8c;
font-size: 16px;
font-weight: 300;
line-height: 32px;
text-align: left;
    padding-top: 5px;
}
.text_bl7 ul{
    padding-left: 79px;
}